<footer id="footer">
    <div class="container">
       <img src="/assets/img/1.png" alt="" class="img-fluid1">
      <h3>Gyalpozhing Turf Reservation</h3>
      <p>Gyalpozhing, Mongar  <i class="icon ion-location"></i><br>Call us at 17360450 <i class="icon ion-iphone"></i></p>
      
      <div class="copyright">
         Gyalpozhing Turf Reservation &copy; 2022, All rights reserved.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>