<!--EMMET: html:5-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Gyalpozhing Turf Reservation</title>
    <link href="/admin/img/logo.png" rel="icon" />
    <link rel="stylesheet" href="/asset/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="/asset/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/asset/fonts/ionicons.min.css" />
    <link
      rel="stylesheet"
      href="asset/css/Advanced-NavBar---Multi-dropdown.css"
    />
    <link rel="stylesheet" href="/asset/css/best-carousel-slide.css" />
    <link rel="stylesheet" href="/asset/css/dh-navbar-inverse-1.css" />
    <link rel="stylesheet" href="/asset/css/dh-navbar-inverse.css" />
    <link rel="stylesheet" href="/asset/css/Footer-Dark.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link rel="stylesheet" href="/asset/css/Login-Form-Clean.css" />
    <link rel="stylesheet" href="/asset/css/Logo.css" />
    <link rel="stylesheet" href="/asset/css/Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="/asset/css/styles.css" />
  </head>
</html>
