<%- include("../partials/userheader") -%>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/2.png);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Let's Football</span><br>Let's be healthy</h2>
                <div>
            </div>
          </div>
        </div>

    
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Background</h2>
          <br><br>
          <img src="assets/img/3.png" alt="" class="img-fluid" style="width: 700px;"> 
          <p>Football turf is the source of excitement and exercise. The football turf provides a vibrant environment and safety to the football player. The Gyalpozhing artificial turf football ground was inaugurated on May 10 2017 by his Royal Highness the Gyaltshab Jigme Dorji Wangchuck who was accompanied by Ashi Yeatso Lhamo.Football turf is the source of excitement and exercise. </p>
        </div>

      </div>
    </section><!-- End Whu Us Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container">

        <div class="section-title">
          <h2>Payment</h2>
          <p>During the reservation, you are required to pay 50% of the turf charge and submit the Journal number of the transaction. 
            You can cancel the reservation whenever you want to, but you will only receive a refund of 20% of the upfront money. 
            However, if the reservation is canceled after 30 minutes, you will not receive a refund.</p>
          <p>Day Time Charge(Before 6pm):</p> <h2 style="text-decoration: none;">Nu.2500.00/- </h2>
          <p>Night Charge(After 6pm):</p><h2 style="text-decoration: none;">Nu.3000.00/- </h2>
        </div>

     </section><!-- End Events Section -->
    <!-- ======= Chefs Section ======= -->
     <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team Members</h2>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="pic"><img src="assets/img/chefs/1.jpg" class="img-fluid" alt=""></div>
              <br>
              <h4><a style="font-family:roboto;">Tandin Wangchuk</a></h4>
              <p>Backend Developer</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
               <div class="pic"><img src="assets/img/chefs/2.jpg" class="img-fluid" alt=""></div>
               <br>
              <h4><a style="font-family:roboto;">Damber Sighn</a></h4>
              <p> UX/UI Designer</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
               <div class="pic"><img src="assets/img/chefs/3.jpg" class="img-fluid" alt=""></div>
               <br>
              <h4><a style="font-family:roboto;">Dechen Pelden</a></h4>
              <p>Frontend-Developer</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
             <div class="pic"><img src="assets/img/chefs/4.jpg" class="img-fluid" alt=""></div>
             <br>
              <h4><a style="font-family:roboto;">Tshering</a></h4>
              <p>Frontend-Developer</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
  <!-- ======= Footer ======= -->
  <%- include("../partials/footer") -%>